*{
    margin: 0px;
    padding: 0px;
}
.container{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 13px;
    

}
.space{
    font-style: italic !important;
    color: white !important;
    font-size: large !important;
    font-weight: bold !important;
    border-color: black!important;

}


.my-btn{
    background-color:red!important;
    float: right !important;
    color: white !important;
    border-color: red !important;
    padding: 2px  !important;
    padding-top: 2px !important;
    width: 14% !important;
    border-radius: 4px !important;
    margin-top: 18px !important;
}
.welcome{
    font-size: xx-large;
    font-weight: lighter;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.my-content{
 width: 100%;
 margin-top: 2%;
 margin-left: 30%;   
}
.my-text{
    text-align: center;
    color: white;
}
.my-brand{
    margin-top: 5%;
    text-align: center;
    color: white;
}
.our-brand{
    display: flex ;
    margin-left: 6%;
}
.card{
    margin-right:5% !important ;
    padding: 2%;
}
.my-logo{
    width: 20%;
 margin-top: 0%;
 margin-left: 10%; 
}
.my-style{
    margin-top: 2%;
    text-align: center;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}
.p-style{
    text-align: center;
    color: white;
}
.card-my{
    display: flex;
    position: relative;
    margin-top: 2%;
    text-align: center;
    margin-left: 5% ;
    color: red;
    background-color: aliceblue;
    padding: 4%;
    border-radius: 4%;
}
